* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: $font-main;
  background-color: #db8f48;
  input::placeholder {
    color: rgb(196, 59, 59);
  }
}
