@import "core/variables";
@import "core/reset";

.item {
  width: 200px;
  height: 260px;
  background-color: #568b94;
  border: 2px solid black;
  margin-right: 20px;
  margin-top: 50px;

  &__ref {
    &-img {
      width: 150px;
      height: 200px;
    }
    &-name {
      color: #e6995a;
      font-size: 18px;
    }
  }
}
.js-showList {
  color: black;
  font-family: $font-main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  grid-column: 2/4;
}
.favorite {
  background-color: #e6995a;
  border: 2px solid rgb(236, 9, 9);
  .item__ref-name {
    color: #568b94;
    background-color: #e6995a;
  }
}
.fav-title {
  margin: 10px;
  font-size: 24px;
  color: #081e22;
  text-align: center;
}
.favItem {
  width: 150px;
  height: 210px;
  margin-left: 15px;
}
.favImg {
  width: 100px;
  height: 150px;
}
.favName {
  text-align: center;
  font-size: 16px;
}
.gen-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.favContainer {
  height: 100%;
  background-color: rgb(233, 199, 199);
  grid-column: 1/2;
}
