@import "core/variables";
@import "core/reset";
.header{
  height: 5%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.body-cont{
  height: 90%;
  
}
.main-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.js-form{
  align-self: center;
  margin-bottom: 2%;
}
.item {
  width: 200px;
  height: 260px;
  background-color: #568b94;
  border: 2px solid black;
  margin-right: 20px;
  margin-top: 50px;

  // &__ref {
  //   &-img {
  //     width: 150px;
  //     height: 200px;
  //   }
  //   &-name {
  //     color: #e6995a;
  //     font-size: 18px;
  //   }
  // }
}

.showlist-cont{
  grid-column: 2/5;
  margin-left: 5%;
}

.js-showList {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  
}
// .favorite {
//   background-color: #e6995a;
//   border: 2px solid rgb(236, 9, 9);
//   .item__ref-name {
//     color: #568b94;
//     background-color: #e6995a;
//   }
// }

.favBox{
  display: flex;
  flex-direction: row;
background-color: #081e22;
position: relative;
}
.js-reset-btn{
  position: absolute;
  right: 0;
  width: 50px;
  height: 25px;
}
.fav-title {
  margin: 10px;
  font-size: 24px;
  color: #081e22;
  text-align: center;
}
.favItem {
  width: 150px;
  height: 70px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.favImg {
  width: 50px;
  height: 65px;
}
.favName {
  text-align: right;
  font-size: 16px;
}
.gen-container {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.favContainer {
   height: 100%;
//   width: 100%;
//   grid-column: 1/2;
}
.footer{
 display: flex;
 height: 5%;
 justify-content: center;
 align-items: flex-end;
 width: 100vw;
 bottom: 0;
 position: fixed;
}
