@import "core/variables";
@import "core/reset";
.header{
  height: 5%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.body-cont{
  height: 90%;
  position: relative;
  background: linear-gradient(90deg, rgba(125,73,13,1) 0%, rgba(147,109,38,1) 49%, rgba(194,145,20,1) 100%);

}
.main-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}
.js-form{
  align-self: center;
  margin-bottom: 2%;
}
.item {
  width: 200px;
  height: 260px;
  border: 2px solid rgba(7, 7, 7, 0.32);
  margin-right: 20px;
  margin-top: 50px;
  align-items: center;
  border-radius: 8px;
  background-color: transparentize(#c2c8c9, 0.3);

  &__ref {
    width: 50px;
    height: 50px;
    &-img {
      display: block;
      margin: auto;
      width: 80%;
      border-radius: 8px;
      border: 2px solid rgb(70, 69, 69)
    }
    &-name {
      background-color: #c2c8c9;
      font-size: 20px;
      color: black;
      text-align: center;
      padding-top: 5px;
    }
  }
}

.showlist-cont{
  grid-column: 2/5;
  margin-left: 5%;
}
.js-btn{
 font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 10px;
    box-shadow: $box-shadow, $box-shadow-inset;
    background: $btn-bg-gradient;
    background-size: 200% 200%;
    animation: slideout 0.5s forwards;
    margin-bottom: 35%;
    border: none;
    // position: relative;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: $box-shadow-hvr, $box-shadow-inset-hvr;
      animation: slidein 0.5s forwards;
    }
    &:active {
      text-shadow: $text-shadow;
      transform: translateY(8px) scale(0.93);
      transition: all 0.1s ease-in;
    }
  }
  @keyframes slidein {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }
  @keyframes slideout {
    from {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }



.js-showList {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  
}
// .favorite {
//   background-color: #e6995a;
//   border: 2px solid rgb(236, 9, 9);
//   .item__ref-name {
//     color: #568b94;
//     background-color: #e6995a;
//   }
// }

.favBox{
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  
  width: 200px;
  height: 100%;
  // padding-left: 10%;
  position: relative;
}
.js-reset-btn{
   position: absolute;
  // border-radius: 15px;
  // width: 50px;
  // height: 25px;
   margin-top: 30%;
  // background-color: rgb(161, 165, 164);
   right: 0;
  font-weight: 600;
    font-size: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 2px 4px;
    box-shadow: $box-shadow, $box-shadow-inset;
    background: $btn-bg-gradient;
    background-size: 200% 200%;
    animation: slideout 0.5s forwards;
    margin-bottom: 35%;
    border: none;
    // position: relative;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: $box-shadow-hvr, $box-shadow-inset-hvr;
      animation: slidein 0.5s forwards;
    }
    &:active {
      text-shadow: $text-shadow;
      transform: translateY(8px) scale(0.93);
      transition: all 0.1s ease-in;
    }
  }
  @keyframes slidein {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }
  @keyframes slideout {
    from {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }



// .fav-title {
//   margin: 10px;
//   font-size: 24px;
//   color: #081e22;
//   text-align: center;
// }
.favContainer{
  position: absolute;
  margin-top: 40%;
}
.favItem {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: transparentize(#c2c8c9, 0.3);
  border: 2px solid rgba(7, 7, 7, 0.32);
  margin-top: 7%;
}
.favImg {
  width: 50px;
  height: 65px;
  border-radius: 8px;
  border: 2px solid rgb(70, 69, 69)
}
.favName {
  text-align: left;
  font-size: 16px;
}
.favTitle{
  color: rgb(243, 203, 151);
  position: absolute;
  font-size: 35px;
  // margin-left: 15%;

}
.gen-container {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
// .favContainer {
//    height: 100%;
//   //  padding-left: 5%;
//   //  width: 20%;
// //   grid-column: 1/2;
// }
.footer{
 display: flex;
 height: 5%;
 justify-content: center;
 align-items: flex-end;
 width: 100vw;
 bottom: 0;
 position: fixed;
}
